server:
  port: ${SERVER_PORT:9091}

spring:
  flyway:
    enabled: true
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  endpoint:
    health:
      show-details: always

jwt:
  key: ${JWT_KEY}

otel:
  service:
    name: ${OTEL_SERVICE_NAME:cliente}
    resource:
      attributes:
        team: backend

  traces:
    exporter: otlp
    sampler: always_on

  metrics:
    exporter: otlp

  logs:
    exporter: none

  instrumentation:
    spring-webmvc:
      enabled: true
    jdbc:
      enabled: true
    logback-appender:
      enabled: true
    micrometer:
      enabled: true
