name: CD Pipeline - Deploy Cliente

on:
  push:
    branches:
      - 'main'

permissions:
  packages: write
  contents: read

jobs:
  publish-image:
    name: Publicar Imagem Cliente no Docker Hub
    uses: ./.github/workflows/reusable-publish-docker.yml
    secrets: inherit
    with:
      image-name: alexmarquesfa/clienteoficina # Replace with your Docker Hub username and desired image name

  deploy-application:
    name: Deploy da Aplicação Cliente no Kubernetes
    needs: [publish-image]
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    with:
      image-tag: ${{ needs.publish-image.outputs.image-tag }}
      environment: producao # Or any other environment you target
      app-name: cliente-app # Name used in Kustomize for image replacement
      k8s-overlay-path: k8s/overlays/${{ inputs.environment }} # Path to the kustomize overlay for cliente
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      EKS_CLUSTER_NAME: ${{ secrets.EKS_CLUSTER_NAME }}
      AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
      DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }} # Assuming this is generic or specific to cliente
      RDS_URL: ${{ secrets.RDS_URL }}